/* 
	blue:		rgba(15,42,131,1)
	deep red:	rgba(73,31,31,1)
*/

/* 1/12 new styles start */

.bg-color {
	background-color: rgba(15,42,131,1) !important; /* blue */
}

.main-font {
	font-family: 'Chocolate Classical Sans' !important;
}

/* Pure CSS Gradient Background Animation from Codepen user Manuel Pinto */
#home {
	background: linear-gradient(
	  	90deg,
	  	rgba(0,0,0,1) 0%,
	  	rgba(0,0,0,1) 40%,
	  	rgba(15,42,131,1) 40%,
	  	rgba(15,42,131,1) 55%,
	  	rgba(0,0,0,1) 55%,
	  	rgba(0,0,0,1) 65%,
	  	rgba(73,31,31,1) 65%,
	  	rgba(73,31,31,1) 67.5%,
	  	rgba(0,0,0,1) 67.5%,
	  	rgba(0,0,0,1) 100%
	);
	background-size: 350% 100%;
	animation: bg-ambulance 35s linear infinite;
}

@keyframes bg-ambulance {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}
/**/

hr {height: .1em !important; background-color: rgba(255,255,255,0.5) !important;}

.footer-social {
	transition: transform 0.25s ease !important;
}

	.footer-social:hover {
		transform: scale(1.25) !important;
	}

.modal-background {
	background-color: rgba(15,42,131,0.75) !important;
}

.screen-reader {
  	position: absolute;
  	width: 1px;
  	height: 1px;
  	padding: 0;
  	margin: -1px;
  	overflow: hidden;
  	clip: rect(0,0,0,0);
  	border: 0;
}

/* 1/12 new styles end */

/* navbar start */

.navbar {
    position: fixed !important;
    top: 0 !important; /* stick to top */
	left: 0 !important;
	width: 100% !important;
    z-index: 100 !important; /* make sure it floats above content */
    background-color: rgba(255,255,255,0) !important; /* transparent white */
}

/* 1/10:
.logo {
	background-color: white !important;
	transition: transform 0.25s ease !important;
}

.logo:hover {
	transform: scale(1.25) !important;
}
*/

.logo {
	color: white !important;
	transition: background-color 0.25s ease, transform 0.25s ease !important;
}

	.logo:hover {
		background-color: rgba(15,42,131,1) !important;
		transform: scale(1.25) !important;
	}

.anchor {
	color: white !important;
	transition: color 0.25s ease, background-color 0.25s ease, transform 0.25s ease !important;
}

	.anchor:hover {
		background-color: rgba(15,42,131,1) !important;
		transform: scale(1.1) !important;
	}

.cta {
	color: white !important;
	transition: background-color 0.25s ease, transform 0.25s ease !important;
}

	.cta:hover {
		background-color: rgba(6,199,9,0.75) !important;
		transform: scale(1.1) !important;
	}

.navbar-burger {
	background-color: rgba(15,42,131,0) !important; /* blue */
	border-radius: 0 !important;
	transition: background-color 0.25s ease, transform 0.25s ease !important;
}

	.navbar-burger:hover {
		background-color: rgba(15,42,131,1) !important;
		transform: scale(1.1) !important;
	}

	.navbar-burger span {
		background-color: rgba(255,255,255,1) !important; /* white - hamburger */
	}

	.navbar-menu.is-active {
		background-color: rgba(15,42,131,1) !important;
	}

	@media (max-width: 1023px) {
		.navbar-menu .navbar-item i {
			margin-right: 0.5em; /* space between icon & text on mobile */
		}
	}

/* navbar end */